{{ form_start(formplaylist) }}
<div class="row mt-3">
    <div class="col">
        <h4 class="text-info mt-5">{{ form_row(formplaylist.name) }}</h4>
        {% if playlist and playlist.id %}       
            <strong>catégories : </strong>
            <!-- boucle pour afficher les catégories -->
            {% set anccategorie = '' %}
            {% for playlist in playlistcategories %}
                {{ playlist.name }}&nbsp;
            {% endfor %}
        {% endif %}       
        <br /><br />
        <strong>{{ form_row(formplaylist.description, {'attr': {'class': 'form-control', 'style': 'height: 300px;'}}) }}</strong>
        <br />
        <div class="container d-flex align-items-center justify-content-center">
            {{ form_row(formplaylist.submit) }}
        </div>
    </div>
    {% if playlist and playlist.id %}
        <div class="col">
            <!-- boucle sur l'affichage des formations -->
            {% for formation in playlistformations %}
                <div class="row mt-1">
                    <div class="col-md-auto">
                        {% if formation.miniature %}
                            <a href="{{ path('formations.showone', {id:formation.id}) }}">
                                <img src="{{ formation.miniature }}" alt="formation.miniature">
                            </a>
                        {% endif %}  
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="{{ path('formations.showone', {id:formation.id}) }}" 
                           class="link-secondary text-decoration-none">
                            {{ formation.title }}
                        </a>          
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{{ form_end(formplaylist) }}